<html>
<head>
  <title>Error</title>
</head>
<body>
  <div class="container h-100 section-padding">
    <div class="row h-100 align-items-center">
      <div class="col-md-12">
        <div class="card w-100 shadow mx-auto">
          <div class="card-body text-center">
            <h1 class="card-title">Oops!</h1>
            <h5 class="text-danger"><%-message%></h5>
            <div class="stack text-monospace">
              <small>{{error.stack}}</small>
            </div>
            <div class="my-4 text-center">
              <a href="/" class="btn btn-primary btn-lg">
                <i class="fa fa-home" aria-hidden="true"></i>
                Take Me Home
              </a>
              <a href="javascript:;" class="btn btn-success btn-lg">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Contact Support
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>