<html>
<head>
  <title>Error</title>
  <script src="../public/framework/Message.js"></script>
</head>
<body>
<div class="container h-100 section-padding">
  <div class="row h-100 align-items-center">
    <div class="col-md-12">
      <div class="card w-50 shadow mx-auto">
        <div class="card-body text-center">
          <h1 class="card-title">Oops!</h1>
          <h2>404 Not Found</h2>
          <div>Sorry, an error has occured. Requested page not found!</div>
          <div class="my-4">
            <a href="/" class="btn btn-primary btn-lg">
              <i class="fa fa-home" aria-hidden="true"></i>
              Take Me Home
            </a>
            <a href="javascript:;" class="btn btn-success btn-lg">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              Contact Support
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>